body{
      overflow-x: hidden;
}

a{
      text-decoration: none;
      font-weight: bold;
      
}

.mobile-nav{
     display: none;
}
.nav-bar{
      display: flex;
      background-color: #dce2ea;
      height: 100px;
      align-items: center;
      justify-content: space-between;
      padding: 0 8%;
      align-items: center;
}
 .logo{
      display: block;
      width: 80px;
      height: 80px;
 }
 .logo img {
      width: 100%;
      height: 100%;
 }

 /* .toggle-menu-btn{
      display: none;
 } */
 .navbar-items{
      display: flex;
 }
 .navbar-pages{
      display: flex;
      justify-content: space-around;
 }

 .navbar-pages a{
      margin: 0 10px;
      color: #0471b3;
 }

 .form-search{
      margin: 0 2%;
      position: relative;
      width: 50%;
 }
 .input-search{
      border: none !important;
      outline: none !important;
      height: 50px;
      width: 100%;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 10px;
      -webkit-appearance: none;
      appearance: none;
      background-image: none;
    }
    
    .input-search::-webkit-search-decoration,
    .input-search::-webkit-search-clear-button,
    .input-search::-webkit-search-results-button,
    .input-search::-webkit-search-results-decoration {
      display: none;
    }
    
    .input-search::-webkit-search-cancel-button {
      display: none;
      -webkit-appearance: none;
    }
    
    .btn-search{
      position:absolute;
      top: 0;
      right: 5px;
      bottom: 0;
      border: none;
      background-color: transparent;
    }

 .navbar-icons{
      display: flex;
      align-items: center;
 }

 .cart-icons{
     position: relative;
 }
 .cart-icons span{
     position: absolute;
     bottom: 0;
     right: -13px;
     width: 20px;
     height: 20px;
     
 }
 .profile-icon{
      margin: 0 15px;
 }
.profile-icon a{
      color: #0471b3;
}
.cart-icons a{
      color: #0471b3;
}

 .menu-btn{
      border: none;
      color: #0471b3; 
      background-color: #dce2ea;
 }
 .bg-primary {
      
      background-color:#e91e63  !important;
      font-weight: bold;

  }

.contact{
     background-color: #fff;
   
}
.contact span{
     display: flex;
}

.contact span .fa-xl {
     color: #0471b3;
     margin-right: 10px;
     margin-bottom: 10px;
     width: 20px;
     height: 20px;
}
  .side-menu{
      width: 25%;
      height: 100%;
      background-color: #f4f5f7;
      z-index: 999;
      position: fixed;
      top: 0;
      right: -25%;
      bottom: 0;
      border: 1px solid rgb(222, 222, 222);
      transition: all ease 0.6s;
      -webkit-transition: all ease 0.6s;
      -moz-transition: all ease 0.6s;
      -ms-transition: all ease 0.6s;
      -o-transition: all ease 0.6s;
      
}
  .side-menu.active{
      right: 0;
  }
.menu-close{
     border: none; 
     color:white ; 
     background-color: #0471b3; 
     font-weight: bold; 
     font-size: 25px;  
     display: block; 
     width: 100%; 
     text-align: start; 
     padding: 5px;
}
.sign a{
     color: #0471b3;
}
/*======================== Navbar for mobile ============================*/
  @media (max-width: 992px) {
       .desk-nav{
          display: none;
       }
       .mobile-nav{
          display: flex;
          padding:3%;
          background-color: #dce2ea;
          height: 100px;
          align-items: center;
          justify-content: space-between;
       }
     
       .text-info{
          color: #0471b3 !important;
       }
       
       .sidebar-menu{
          width: 50%;
          height: 100%;
          background-color: #fff;
          z-index: 999;
          position: absolute;
          top: 0;
          right: -50%;
          bottom: 0;
          border: 1px solid rgb(222, 222, 222);
          transition: all ease 0.6s;
          -webkit-transition: all ease 0.6s;
          -moz-transition: all ease 0.6s;
          -ms-transition: all ease 0.6s;
          -o-transition: all ease 0.6s;
          padding: 5px !important;
    }
    .sidebar-menu a ,
    .sidebar-menu a b{
     font-size: 15px !important;
    }
      .sidebar-menu.active{
          right: 0;
      }
      .menu-close{
          border: none; 
          color:white ; 
          background-color: #0471b3; 
          font-weight: bold; 
          font-size: 25px;  
          display: block; 
          width: 100%; 
          text-align: start; 
          padding: 5px;
     }
    }








    @media (max-width: 520px) {
     .img-fluid{
          margin: 0 !important;
          width: 35px;
          height: 35px;
     }
     .form-search{
          margin: 0 10px;
          width: 60%;
     }
     .input-search{
          height: 30px;
          font-size: 8px;
        }
       .fa-xl{
          font-size: 15px;
       }
       .cart-icons span{
          position: absolute;
          bottom: 0;
          right: -10px;
          width: 15px;
          height: 15px;
          line-height: 15px;
          
      }
        .profile-icon{
          margin: 0 5px;
     }

     .sidebar-menu{
          width: 100%;
        
          right: -100%;
         
    }
  }

