<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Farza Company</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="csrf-token" content="{{ csrf_token() }}" />
    
        <!-- Favicons -->
        <link href="img/Farza.png" rel="icon" />
        <link href="img/Farza.png" rel="apple-touch-icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.min.css" />
        <link rel="stylesheet" href="fontawesome/arrow-up-from-bracket-solid.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="Css/sheet.css" rel="stylesheet" />
        <link href="Css/navbar.css" rel="stylesheet" />
    </head>
    
    <body>
        <!-- start top navbar  -->
        <div class="top-navbar">
            <div class="lang">
                <span>English</span> <i class="fa-solid fa-globe"></i></i>
            </div>
            <button type="button" class="btn position-relative btn1 fw-bold"  id="" onclick="contact()">
                contact us
            </button>
            <div class="border p-4 dropdown-menu shadow-lg p-3 mb-5 bg-body-tertiary rounded address" id="contact1" style="display: none;">
                <span> <b>Address:</b> ٤٢ شارع البطراوي المتفرع من شارع  عباس العقاد - مدينه نصر - عند كوبرى البطراوى بجوار كوستا كافيه             -الممر اللى اوله محل بيت العطارة </span><br>
                <span> <b>Email:</b> hr.farza2022@gmail.com</span><br>
                <span> <b>Phone:</b> 0224037986 </span><br>
                <span> <b>WhatsApp:</b> +201555578007 </span><br>
            </div>
         </div> <!--end top navbar-->
         
         <!-- start nav for desktop  -->
        <nav class="nav-bar  desk-nav">
            <a class="logo" href="#"><img src="img/Farza.png" class="" /></a>
            <form class="form-search" action="" method="POST">
                <input class="input-search" name="search_product" id="search_product" type="search"
                    placeholder="Search for Product or brands" aria-label="Search">
                <button class="btn-search" style="width: 10%"> <i class="fa-solid fa-magnifying-glass"></i> </button>
            </form>
            <div class="navbar-pages">
                <a class=""  aria-current="page" href="index.html">Home</a>
                <a class="" aria-current="page" href="all-product.html">All Product</a>
            </div>
            <div class="navbar-icons">
                <div class="cart-icons cart-conect me-2">
                    <a href="cart.html">
                        <i class="fa-solid fa-cart-shopping fa-shake fa-xl"></i>
                        <span class="cart-count bg-primary ">5</span>
                    </a>
                </div>
                <div class="profile-icon"  >
                    <a href="account.html" title="ayman">
                        <img src="img/user/user.jpg" alt="Profile" class="rounded-circle" style="width:100%; height: 100%;"/>
                    </a>
                </div>
                    <a href="{{ route('login') }}" class="text-decoration-none m-2 fw-bold" style="color:#0471b3">Login</a>
                </div>              
        </nav> <!--End navbar for desk-->
    
    <!--Start Navbar for mobile-->
    <nav class="mobile-nav">
            <img src="img/Farza.png"  class="img-fluid" alt="Farza Image">
            <form class="form-search" action="" method="POST">
                <input class="input-search" name="search_product" id="search_product" type="search"
                    placeholder="Search for Product or brands" aria-label="Search">
                <button class="btn-search" style="width: 10%"> <i class="fa-solid fa-magnifying-glass"></i> </button>
            </form>
            <div class="navbar-icons">
                <div class="cart-icons cart-conect me-2">
                    <a href="cart.html">
                        <i class="fa-solid fa-cart-shopping fa-shake fa-xl"></i>
                        <span class="cart-count bg-primary ">5</span>
                    </a>
                </div>
                <div class="profile-icon">
                    <a href="account.html" title="ayman">
                        <img src="img/user/user.jpg" alt="Profile" class="rounded-circle" style="width:100%; height: 100%;"/>
                    </a>
                </div>
                <button class="toggle-menu-btn navbar-toggler fa-xl" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="">
                        <i class="fa-solid fa-bars text-info"></i>
                    </span>
                </button>
                <div class="sidebar-menu">
                    <button class="menu-close" type="button"
                    aria-label="close menu">✕</button>
                    <div class="navbar-nav mb-lg-0">
                        <div class="nav-item ">
                            <a class="nav-link active fs-tt"  aria-current="page" href="https://farza.online"><b>Home</b></a>
                        </div>
                    </div>
                    <hr>
                    <div class="navbar-nav mb-lg-0 w-25 col-12">
                        <div class="nav-item ">
                            <a class="nav-link active fs-tt clo-6"  aria-current="page" href="https://farza.online/all_product"><b>All Product</b></a>
                        </div>
                    </div>
                    <hr> 
                    <div class="m-auto sign" style="display: grid; justify-content:flex-start;">
                        <a href="{{ route('login') }}" class="text-decoration-none m-2 fw-bold"> 
                            <i class="fa-solid fa-arrow-right-to-bracket"></i> Sign in</a>
                            <a href="{{ route('register') }}"
                            class="text-decoration-none m-2 fw-bold"><i class="fa-solid fa-user-plus"></i> Signup</a>
                    </div>
                </div>
        </div>
    </nav> 
    

    <main id="main" class="main">
        <!-- {{-- <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
        </div> --}} -->
        <!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="img/user/user.jpg" alt="Profile" class="rounded-circle" />
                            <h2>Ayman</h2>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">
                                        Overview
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                        Edit Profile
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-Orders">
                                        Orders
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-change-password">
                                        Change Password
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2 mt-3">
                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    <h5 class="card-title">Profile Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label fw-bold">Full Name</div>
                                        <div class="col-lg-9 col-md-8">Ayman</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label fw-bold">Email</div>
                                        <div class="col-lg-9 col-md-8">ayman@gmail.com</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label fw-bold">Phone</div>
                                        <div class="col-lg-9 col-md-8">+012123456678</div>
                                    </div>

                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                    <!-- Profile Edit Form -->
                                    <form action="{{url('update-account')}}" method="POST"
                                        enctype="multipart/form-data">

                                        <div class="row mb-3">
                                            <label for="image" class="col-md-4 col-lg-3 col-form-label">Profile
                                                Image</label>
                                            <div class="col-md-8 col-lg-9">
                                                <img src="img/user/user.jpg" alt="Profile" />
                                                <div class="pt-2">
                                                    <input name="image" type="file" class="form-control" id="image" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="name-1" class="col-md-4 col-lg-3 col-form-label">Full
                                                Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="name" type="text" class="form-control" id="name-1"
                                                    value="Ayman" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="email-2" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="email" type="text" class="form-control" id="email-2"
                                                    value="ayman@gmail.coma" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="phone_number" class="col-md-4 col-lg-3 col-form-label">Phone
                                                Number</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="phone_number" type="tel" class="form-control"
                                                    id="phone_number" value="+012123456789" />
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form>
                                    <!-- End Profile Edit Form -->
                                </div>

                                <div class="tab-pane fade pt-3" id="profile-Orders">
                                    <!-- orders Form -->
                                    <table class="Orders">
                                        <thead class="theead">
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Payment Method</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                        <tbody>

                                            <tr>
                                                <th>1</th>
                                                <th>2023-09-15</th>
                                                <td class="badge text-bg-secondary"> <span>The order is being prepared
                                                        now</span> </td>
                                                <th class="">
                                                    <p class="text-bg-success">visa</p>
                                                </th>
                                                <th>5000 EGP</th>
                                                <th> <a href="view-order.html" class="btn btn-primary"
                                                        style="text-decoration: none; "> View order </a> </th>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <th>2023-09-15</th>
                                                <td class="badge text-bg-info"> <span>shipping now</span> </td>
                                                <th class="">
                                                    <p class="text-bg-success">cash</p>
                                                </th>
                                                <th>5000 EGP</th>
                                                <th> <a href="view-order.html" class="btn btn-primary"
                                                        style="text-decoration: none; "> View order </a> </th>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <th>2023-09-15</th>
                                                <td class="badge text-bg-primary"> <span>done shipping</span> </td>
                                                <th class="">
                                                    <p class="text-bg-success">visa</p>
                                                </th>
                                                <th>5000 EGP</th>
                                                <th> <a href="view-order.html" class="btn btn-primary"
                                                        style="text-decoration: none; "> View order </a> </th>
                                            </tr>
                                            <tr>
                                                <th>4</th>
                                                <th>2023-09-15</th>
                                                <td class="badge text-bg-danger"> <span>order rejected</span> </td>
                                                <th class="">
                                                    <p class="text-bg-success">visa</p>
                                                </th>
                                                <th>5000 EGP</th>
                                                <th> <a href="view-order.html" class="btn btn-primary"
                                                        style="text-decoration: none; "> View order </a> </th>
                                            </tr>
                                        </tbody>

                                        </tbody>
                                        </tbody>
                                    </table>
                                    <!-- End orders Form -->
                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form action="{{url('update-password')}}" method="POST"
                                        enctype="multipart/form-data">
                                        <div class="row mb-3">
                                            <label for="old_password" class="col-md-4 col-lg-3 col-form-label">Old
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="old_password" type="password" class="form-control"
                                                    id="old_password" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="new_password" class="col-md-4 col-lg-3 col-form-label">New
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="new_password" type="password" class="form-control"
                                                    id="new_password" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="new_password_confirmation"
                                                class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="new_password_confirmation" type="password"
                                                    class="form-control" id="new_password_confirmation" />
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">
                                                Change Password
                                            </button>
                                        </div>
                                    </form>
                                    <!-- End Change Password Form -->
                                </div>
                            </div>
                            <!-- End Bordered Tabs -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

   <!-- Start  Footer -->
   <footer>
    <div class="footer-full">
        <div class="container">
            <!-- Start Top Footer -->
            <div class="top-footer">
                    <div class="phone" >
                        <h3>Call Us</h3>
                        <div>
                            <div class="content1">
                                <i class="fas fa-phone"></i>
                                    <span>
                                        <a href="tel:{{$set->phone}}">012123456789</a>
                                    </span>
                            </div>
                            <div class="content1 ">
                                <i class="fa-brands fa-whatsapp"></i>
                                    <span>
                                        <p>012123456789</p>
                                    </span>
                            </div>
                        </div>
                </div>
            <div class="box">
               <div class="brand">
                    <h3>Brands</h3>
                    <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla </a></p>
                    <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla </a></p>
                    <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla </a></p>
                    <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla </a></p>
               </div>
                <div class="term">
                    <h3>Terms & Conditions</h3>
                <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla</a></p>
                <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla</a></p>
                <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla</a></p>
                <p><a href="{{url('view-page/' . Crypt::encryptString($pages->id))}}">pla pla</a></p>
                </div>
                <div class="about">
                    <h3>About Farza</h3>
                    <p><a class="" aria-current="page" href="about.html">About Us</a></p>
                </div>
            </div>
            </div> <!-- End Top Footer -->
            <hr style="color:#fff !important;">
            <br>
             <!-- Start Bottom Footer -->
            <div class="bottom-footer">
                <div class="box">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6906.215135123466!2d31.336308!3d30.062450999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fe62cadc78f%3A0x76e65d3198d12a8f!2z2YHYsdiy2Kkg2YTYqtis2KfYsdipINin2YTYo9is2YfYstipINin2YTZg9mH2LHYqNin2KbZitipINin2YTZhdmG2LLZhNmK2KkgRmFyemE!5e0!3m2!1sar!2seg!4v1690468922420!5m2!1sar!2seg"
                         allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="yem">
                    <form action="{{url('store-contact')}}" method="POST" enctype="multipart/form-data"
                        class="shadow-sm p-3 mb-5 bg-body rounded">
                        <h3 class="text-dark"> <strong>Contact Us</strong> </h3>
                        <p class="text-dark"> send your opinion , comment on the website or anything else
                        </p>
                        <div class="mb-3">
                            <label for="name" class="form-label text-dark">Name</label>
                            <input type="text" class="form-control" name="name" id="name" value="ayman">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label text-dark">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                value="ayman@gmail.com">
                        </div>
                        <div class="mb-3 textarea">
                            <label for="massage" class="form-label text-dark">Massage</label>
                            <textarea class="form-control" id="massage" name="massage" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark">Send</button>
                    </form>
                </div>
            </div>  <!-- End Bottom Footer -->
            <hr>
             <!-- Start Copyright -->
            <div class="copyright pb-3">
                <div class="container">
                    <p>Copyright &copy; 2023 <strong><b>Farza</b></strong> <strong>Inc. </strong></p>
                    <ul>
                        <li>
                            <a href="{{$set->facebook}}" aria-label="Read more about Seminole tax hike"><i
                                    class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i></a>
                        </li>
                        <li>
                            <a href="{{$set->instagram }}" aria-label="Read more about Seminole tax hike"><i
                                    class="fa-brands fa-square-instagram fa-xl" style="color: #ffffff;"></i></a>
                        </li>
                        <li>
                            <a href="{{$set->youtube }}" aria-label="Read more about Seminole tax hike"><i
                                    class="fa-brands fa-youtube fa-xl" style="color: #ffffff;"></i></a>
                        </li>
                        <li>
                            <a href="{{$set->linkedin}}" aria-label="Read more about Seminole tax hike"><i
                                    class="fa-brands fa-linkedin fa-xl" style="color: #ffffff;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>  <!-- End Copyright -->
        </div>
    </div>
</footer> <!-- End Footer -->

    <div class="whatsapp-chat">
        <a href=" https://wa.me/{{$set->whatsapp}}" aria-label="Read more about Seminole tax hike"
            style="font-size: 50px">
            <i class="fa-brands fa-whatsapp fa-beat fa-2xl" style="color: #25d366; font-size: 60px"></i>
        </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

    <!-- {{-- <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> --}} -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.js"></script>

    <!-- {{-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> --}}
        {{-- <script src="https://fastly.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> --}}
        {{-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script> --}} -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.min.js"></script>
    <!-- {{-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
        <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script> --}} -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <script src="js/cart.js"></script>
    <script src="js/script.js"></script>
    <script src="js/script1.js"></script>
    <script src="js/script3.js"></script>
    <script src="js/script5.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K5F9LB4QS1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-K5F9LB4QS1");
    </script>

    <!-- @yield('script')
        
        @if (session('error'))
        <script>
        swal("Oops" , "{{session('error')}}" , "error")
        </script>
        @endif
        
        @if (session('status'))
        <script>
        swal("Good job!" , "{{session('status')}}" , "success")
        </script>
        @endif -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        var availableTags = [];
        $.ajax({
            method: "GET",
            url: "/product_search",
            success: function (response) {
                // console.log(response);
                startAutoComplrte(response);
            },
        });
        function startAutoComplrte(availableTags) {
            $("#search_product").autocomplete({
                source: availableTags,
            });
        }
    </script>
</body>

</html>